ul{
    list-style:none;
    padding : 0;
}
body{
    margin : 0;
    padding : 0;
}
header{
    height : 70px;
    border : 1px solid;
    padding-left : 20px;
    background-color: black;
    color : white;
    position:relative;
    .copyright{

        position:absolute;
        right:10px;
        bottom : 10px;
        color:white;
        font-size:.8rem;
    }
}
main{
    padding : 20px;
    height : 100%;
    overflow: auto;
    
}
footer{

    width : 100vw;
    padding-left : 20px;
    padding-bottom : 20px;
}