ul{
    list-style:none;
    padding : 0;
}
body{
    margin : 0;
    padding : 0;
}
.module_index table tr{
    display : flex;
    align-items: center;
    border : 1px solid;
}
.module_index table td:nth-child(1){
    border-right:1px solid;
    padding : 5px;
}
header{
    height : 70px;
    border : 1px solid;
    padding-left : 20px;
    background-color: black;
    color : white;
    position:relative;
    .copyright{

        position:absolute;
        right:10px;
        bottom : 10px;
        color:white;
        font-size:.7rem;
        text-align:right;
    }
}
main{
    padding : 20px;
    height : 100%;
    overflow: auto;
    
}
footer{

    width : 100vw;
    padding-left : 20px;
    padding-bottom : 20px;
}